body{
    background-color: #343333;
}

.row {
    display: flex;
    justify-content: center;
}

.col {
    width: 25px;
    height: 25px;
    border: 1px solid white;
    border-radius: 0.2em;
    margin: 1px;
}